# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

app-example

# iOS Swift
ios/Refrain.xcodeproj/xcuserdata/
ios/Refrain.xcodeproj/project.xcworkspace/xcuserdata/
ios/*.xcuserstate
ios/DerivedData/
ios/build/
ios/Pods/
ios/Podfile.lock
*.ipa
*.dSYM.zip
*.dSYM

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
DerivedData/
*.xccheckout
*.xcscmblueprint

AGENT_RULES.md
